body{
    padding-top: 56px;
}
.em-text{
    color: #1caa98 !important;
}
.jumbotron h1{
    margin-top: 40px;
}
.jumbotron p{
    margin-bottom: 60px;
}
.jumbotron{
    height: 500px;
    overflow: hidden;
    padding-top: 20px;
}
.show-img{
    width: 75%;
}
img{
    width: 100%;
}
#feature h2{
    margin: 50px 0 0 0;
    font-size: 2.4rem;
}
#feature{
    background-color: #1caa98;
    color: white;
    overflow: auto;
}
#feature ul li{
    font-size: 22px;
    line-height: 2em;
    list-style: square;
}
footer{
    color: white;
    background-color: #222;
    padding: 30px 0 20px 0;
}
footer ul{
    list-style: none;
}
footer li{
    display: inline-block;
    padding: 0 10px;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: #ccc;
    text-decoration: none;
}
.title{
    background-color: #1caa98;
    padding: 10px 30px;
    color: #fff;
}
section{
    padding: 50px 0;
}

@media(max-width: 992px){
    .show-img{
        display: none;
    }
}